@model Rocky.Models.Product
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
  
    <div class="container p-3">
        <input asp-for="Id" hidden />
        <div class="row">
            <h2 class="text-info pl-3">Delete Product</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="Name" class="form-control" value="@Model.Name"  />
          
                    </div>

                </div>
                <br />
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="Price" class="form-control" value="@Model.Price" />
                      
                    </div>

                </div>

                <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="ShortDesc" class="form-control" value="@Model.ShortDesc" />

                    </div>

                </div>

                <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea  asp-for="Description" class="form-control summernote"></textarea>
                     
                    </div>

                </div>

               
                
                @*asp-items="@Model.Category.Name"*@
                <br />
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="@Model.Category.Name" class="form-control" />

                    </div>

                </div>

                <br />
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ApplicationTypeId"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="@Model.ApplicationType.Name" class="form-control" />

                    </div>

                </div>

                <br />

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Back</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <img src="~/images/product/@Model.Image" width="100%" />
            </div>
        </div>




    </div>

    </div>
</form>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
     
        $(document).ready(function () {
            $('.summernote').summernote('disable');
        });

    </script>


}